    {% extends "layout.html" %}
    {% block content %}
    <style>
        .text-center{
          background-color: blue;
        }

    </style>
    <body>
        <section id ="aboutUs">
            <div class ="container">
                <div class = "row">
                    <div class = "col-sm-7">
                        <h2 class="text-center">About Us</h2>
                        <p>Loda Lassun  About all of the Student adn kuch bhi Loda Lassun  About all of the Student adn
                            kuch Loda Lassun  About all of the Student adn kuch bhi Loda Lassun  About all of the
                            Student adn kuch bhi Loda Lassun  About all of the Student adn kuch bhi
                            bhi Loda Lassun  About all of the Student adn kuch bhi</p>
                    </div>
                    <div class = "col-dm-5">
                        <div class = "img-wrap">
                            <img src="s">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
 {% endblock %}
















{#<!DOCTYPE html>#}
{#<html>#}
{#    <head>#}
{#        <meta charset="utf-8">#}
{#        <link rel = "stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">#}
{#        <link rel="stylesheet" type="text/css" href="main.css">#}
{#    </head>#}
{#    <body>#}
{#        <section id ="aboutUs">#}
{#            <div class ="container">#}
{#                <div class = "row">#}
{#                    <div class = "col-sm-7">#}
{#                        <h2 class="text-center">About Us</h2>#}
{#                        <p>Loda Lassun  About all of the Student adn kuch bhi Loda Lassun  About all of the Student adn#}
{#                            kuch Loda Lassun  About all of the Student adn kuch bhi Loda Lassun  About all of the#}
{#                            Student adn kuch bhi Loda Lassun  About all of the Student adn kuch bhi#}
{#                            bhi Loda Lassun  About all of the Student adn kuch bhi</p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </section>#}
{#    </body>#}
{#</html>#}
