    <!DOCTYPE html>

    <html>
    <head>
        <title>Online Compiler</title>
        <!--<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}"/>

    </head>
    <body>

        <div class="container">
            {% include "includes/nav.html" %}

            {% if session['username'] %}
            <span class="user">Welcome, {{ session['username'] }}</span>
            {% endif %}

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block content %}
            {% endblock %}

         </div>
        {% include "includes/footer.html" %}
    </body>
    </html>

    <!--<div class="main" style="max-width:100% !important;">
      <div class="row content">
        <div class="col-sm-3 sidenav">
          <h2><center><b>Online Compiler</b></center></h2>
          <ul class="nav nav-pills nav-stacked";>
            <li class=""><a href="{{ url_for('index') }}">IDE</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('login') }}">Sign In</a></li>
          </ul><br>
        </div>


    {% include "includes/footer.html" %}
</body>
</html>-->