{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">        


        <style>
            body{
                background-image: url('\\static\\temp2.jpg');
            }
            
          
            input[type=submit] {
              width: 150%;
              background-color: #4CAF50;
              color: white;
              padding: 12px 20px;
              margin: 8px 0;
              border: 1px solid #ccc;
              border-radius: 4px;
            }

            legend {
              color: orange;
              padding: 8px 5px;
              font-size: 30px;
            }
            
            textbox{
                color:yellow;
            }
            .glow {
                font-size: 22px;
                font-weight: bolder;
                color: white;
                -webkit-animation: glow 1s ease-in-out infinite alternate;
                -moz-animation: glow 1s ease-in-out infinite alternate;
                animation: glow 1s ease-in-out infinite alternate;
              }
              
              @-webkit-keyframes glow {
                from {
                  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #00ade6, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
                }
                to {
                  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #00ade6, 0 0 70px #684dff, 0 0 80px #ff4da6;
                }
              }

        </style>

    <body >
        
        <div class="glow">
            <div style="width: 30%; margin-left: 30%; margin-top:1px; ">
                <form name="login" action="" method="post" novalidate>
                    <fieldset class="form-group">
                        <legend>{{title}}</legend>
                        {{ form.hidden_tag() }}
                        <p> {{ form.email.label }}
                            </br>
                            {{ form.email }}
                            {% for error in form.email.errors %}
                        <center><span class="error-message">{{ error }}</span></center>
                            {% endfor %}
                        </p>

                        <p> {{ form.password.label }}
                            </br>
                            {{ form.password }}
                            {% for error in form.password.errors %}
                        <center><span class="error-message">{{ error }}</span></center>
                            {% endfor %}
                        </p>

                        <p> {{ form.password_confirm.label }}
                            </br>
                            {{ form.password_confirm }}
                            {% for error in form.password_confirm.errors %}
                        <center><span class="error-message">{{ error }}</span></center>
                            {% endfor %}
                        </p>

                        <p> {{ form.first_name.label }}
                            </br>
                            {{ form.first_name }}
                            {% for error in form.first_name.errors %}
                        <center><span class="error-message">{{ error }}</span></center>
                            {% endfor %}
                        </p>

                        <p> {{ form.last_name.label }}
                            </br>
                            {{ form.last_name }}
                            {% for error in form.last_name.errors %}
                        <center><span class="error-message">{{ error }}</span></center>
                            {% endfor %}
                        </p>

                        <p>
                            {{ form.submit() }}
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    
    </body>
    {% endblock %}