{% extends "layout.html"%}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

<style>
    body{
        background-image: url('\\static\\temp2.jpg');

    }
</style>
    <div class="row">
        <div class="col-md-12 text-center">
            <dl>
                {% for users in user %}
                    <dt>user ID: {{ users.user_id }}</dt>
                    <dd>Email: {{users.email}}</dd>
                    <dd>Password: {{ users.password }}</dd>
                {% vendor %}
            </dl>
        </div>
    </div>
{% unblock %}
